h1 {
    font-size: 4em; 
}
body {
    color : burlywood
}
a {
    color : lightblue
}
.text {
    color :dimgrey 
}
#ICS{
    display : flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;
}